<div class="bg">
  <main class="main"  >
    <div class="imageicon">
    </div>
    
    <div class="text-center align-items-center" style="width: 100%; height: 100%;  padding: 15% ; padding-bottom: auto;" >
        <div class="row align-items-center">
          
          <div class="col "  >
            <div class="button-row center">
              <div class="flex-container">
                <div class="button-container">
                  <button mat-fab extended (click)="openDialog('Local')">
                    <mat-icon>home</mat-icon> Local
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col" >
              <div class="button-row ">
                <div class="flex-container">
                  <div class="button-container">
                    <button mat-fab extended (click)="openDialog('Red')">
                      <mat-icon>lan</mat-icon>
                      En Red
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>

  </main>
</div>