<div style="margin: 2%; padding: 10%;">

  <div class="example-box" cdkDrag>
    Drag me around
  </div>

  <mat-grid-list cols="5" rowHeight="5:1"  >

    <mat-grid-tile >
      <div class="example-box"  cdkDrag>
        A1
      </div>
    </mat-grid-tile>
    <mat-grid-tile>A2</mat-grid-tile>
    <mat-grid-tile>A3</mat-grid-tile>
    <mat-grid-tile>A4</mat-grid-tile>
    <mat-grid-tile>A5</mat-grid-tile>

    <mat-grid-tile>B1</mat-grid-tile>
    <mat-grid-tile>B2</mat-grid-tile>
    <mat-grid-tile>B3</mat-grid-tile>
    <mat-grid-tile>B4</mat-grid-tile>
    <mat-grid-tile>B5</mat-grid-tile>

    <mat-grid-tile>C1</mat-grid-tile>
    <mat-grid-tile>C2</mat-grid-tile>
    <mat-grid-tile>C3</mat-grid-tile>
    <mat-grid-tile>C4</mat-grid-tile>
    <mat-grid-tile>C5</mat-grid-tile>

    <mat-grid-tile>D1</mat-grid-tile>
    <mat-grid-tile>D2</mat-grid-tile>
    <mat-grid-tile>D3</mat-grid-tile>
    <mat-grid-tile>D4</mat-grid-tile>
    <mat-grid-tile>D5</mat-grid-tile>

    <mat-grid-tile>E1</mat-grid-tile>
    <mat-grid-tile>E2</mat-grid-tile>
    <mat-grid-tile>E3</mat-grid-tile>
    <mat-grid-tile>E4</mat-grid-tile>
    <mat-grid-tile>E5</mat-grid-tile>

    <mat-grid-tile>F1</mat-grid-tile>
    <mat-grid-tile>F2</mat-grid-tile>
    <mat-grid-tile>F3</mat-grid-tile>
    <mat-grid-tile>F4</mat-grid-tile>
    <mat-grid-tile>F5</mat-grid-tile>

    <mat-grid-tile>G1</mat-grid-tile>
    <mat-grid-tile>G2</mat-grid-tile>
    <mat-grid-tile>G3</mat-grid-tile>
    <mat-grid-tile>G4</mat-grid-tile>
    <mat-grid-tile>G5</mat-grid-tile>

    <mat-grid-tile>H1</mat-grid-tile>
    <mat-grid-tile>H2</mat-grid-tile>
    <mat-grid-tile>H3</mat-grid-tile>
    <mat-grid-tile>H4</mat-grid-tile>
    <mat-grid-tile>H5</mat-grid-tile>

    <mat-grid-tile>I1</mat-grid-tile>
    <mat-grid-tile>I2</mat-grid-tile>
    <mat-grid-tile>I3</mat-grid-tile>
    <mat-grid-tile>I4</mat-grid-tile>
    <mat-grid-tile>I5</mat-grid-tile>

    <mat-grid-tile>J1</mat-grid-tile>
    <mat-grid-tile>J2</mat-grid-tile>
    <mat-grid-tile>J3</mat-grid-tile>
    <mat-grid-tile>J4</mat-grid-tile>
    <mat-grid-tile>J5</mat-grid-tile>

  </mat-grid-list>

</div>